body {
    font-family: Arial, Helvetica, sans-serif;
    background: #edb1b1;
    margin: 0;
    padding: 0px;
}

.bu_play {
    background: none;
    font-size: 160px;
    position: absolute;
    left: calc(50% - 80px);
    top: calc(50% - 80px);
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: 0.2s;
}

.bu_play:hover {
    color: rgb(0, 0, 0);
    font-size: 180px;
    left: calc(50% - 90px);
    top: calc(50% - 90px);
}

.inicio_oculto {
    display: none;
    transition: 1s;

}

.ocultar {
    display: none;
}

.mostrar {
    display: block;
}

@keyframes mostrar_inicio {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.ramas {
    position: relative;
    left: -2%;
    top: 0%;
}

.r1,
.r2,
.r3 {
    position: absolute;
    left: 0%;
    top: 0%;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.r1 {
    animation-name: anima_ramas1;
}

.r2 {
    animation-name: anima_ramas2;
}

.r3 {
    animation-name: anima_ramas3;
}

@keyframes anima_ramas1 {
    0% {
        top: 0%;
    }

    25% {
        top: -10px;
    }

    50% {
        transform: rotatez(5deg);
        transform: rotatex(15deg);
        transform: rotatey(-15deg);
    }

    75% {
        top: 10px;
    }

    100% {
        top: 0%;
        transform: rotate(0deg);
    }
}

@keyframes anima_ramas2 {
    0% {
        top: 0%;
    }

    25% {
        top: -8px;
    }

    50% {
        transform: rotatez(4deg);
        transform: rotatex(-10deg);
        transform: rotatey(13deg);
    }

    75% {
        top: 5px;
    }

    100% {
        top: 0%;
    }
}

@keyframes anima_ramas3 {
    0% {
        top: 0%;
    }

    25% {
        top: -5px;
    }

    50% {
        transform: rotatez(3deg);
        transform: rotatex(4deg);
        transform: rotatey(-6deg);
    }

    75% {
        top: 8px;
    }

    100% {
        top: 0%;
    }
}

.cont_torre {
    position: relative;
    left: 0px;
    bottom: 0px;
    display: contents;
}

.torre {
    position: absolute;
    left: calc(100% - 160px);
    bottom: calc(0%);
}

.petalos {
    position: relative;
    left: 0px;
    bottom: 100%;
    display: contents;
}

.pe1,
.pe2,
.pe3,
.pe4,
.pe5,
.pe6 {
    transform: scale(0.4);
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.pe1 {
    left: 20%;
    top: -10%;
    animation-name: ani_pe1;
    animation-delay: 1s;
    animation-duration: 5s;
}

.pe4 {
    left: 30%;
    top: -10%;
    animation-name: ani_pe4;
    animation-delay: 2s;
    animation-duration: 3s;
}

.pe2 {
    left: 50%;
    top: -10%;
    animation-name: ani_pe2;
    animation-delay: 2s;
    animation-duration: 6s;
}

.pe5 {
    left: 70%;
    top: -10%;
    animation-name: ani_pe5;
    animation-delay: 2s;
    animation-duration: 4s;
}

.pe3 {
    left: 80%;
    top: -10%;
    animation-name: ani_pe3;
    animation-delay: 3s;
    animation-duration: 3s;
}

.pe6 {
    left: 90%;
    top: -10%;
    animation-name: ani_pe6;
    animation-delay: 2s;
    animation-duration: 6s;
}

@keyframes ani_pe1 {
    0% {
        left: -5%;
        top: -10%;
    }

    100% {
        left: 10%;
        top: 100%;
    }
}

@keyframes ani_pe4 {
    0% {
        left: 20%;
        top: -10%;
    }

    100% {
        left: 30%;
        top: 100%;
    }
}

@keyframes ani_pe2 {
    0% {
        left: 45%;
        top: -10%;
    }

    100% {
        left: 50%;
        top: 100%;
    }
}

@keyframes ani_pe5 {
    0% {
        left: 65%;
        top: -10%;
    }

    100% {
        left: 70%;
        top: 100%;
    }
}

@keyframes ani_pe3 {
    0% {
        left: 75%;
        top: -10%;
    }

    100% {
        left: 80%;
        top: 100%;
    }
}

@keyframes ani_pe6 {
    0% {
        left: 85%;
        top: -10%;
    }

    100% {
        left: 90%;
        top: 100%;
    }
}

.sobre {
    position: absolute;
    left: 30%;
    top: -30%;
    background: none;
    border: 0px;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: rota_sobre;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    cursor: pointer;
}

.rasgado {
    position: absolute;
    top: 5%;
    overflow: hidden;
    width: 0%;
}

@keyframes rasgar_sobre {
    0% {
        width: 0px;
    }

    25% {
        width: 0px;
    }

    100% {
        width: 100%;
    }
}

.stop_sobre {
    animation-play-state: paused;
}

@keyframes rota_sobre {
    0% {
        left: 30%;
        top: -30%;
        transform: rotateX(0deg);
        transform: rotatey(20deg);
        transform: rotatez(0deg);
    }

    50% {
        transform: rotateX(10deg);
        transform: rotatey(-20deg);
        transform: rotatez(15deg);
    }

    100% {
        transform: rotateX(-20deg);
        transform: rotatey(20deg);
        transform: rotatez(-5deg);
        left: 35%;
        top: 110%;
    }
}

@keyframes mueve_sobre {
    0% {
        left: 40%;
        top: -25%;
    }

    100% {
        left: 40%;
        top: 110%;
    }
}

.con_sobre_ {
    animation-duration: 6s;
    animation-name: con_sobre_ani;
    animation-delay: 5s;
}

@keyframes con_sobre_ani {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.con_papel {
    position: absolute;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: mueve_sobre;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    width: 10%;
    height: 10%;
    top: -20%;
}

.stop_papel {
    animation-play-state: paused;
}

.papel_carta {
    position: absolute;
    overflow: hidden;
    width: 0%;
    height: 0%;
}

.papel_de_carta {
    position: absolute;
    width: 100%;
}

.ve_carta {
    position: absolute;
    animation-duration: 5s;
    animation-name: muestra_carta;
    animation-delay: 1s;
    animation-timing-function: linear;
}

@keyframes muestra_carta {
    0% {
        opacity: 0;
        height: 0%;
        left: 45%;
        width: 0%;
        top: 0%;
    }

    25% {
        top: -200%;
        left: -100%;
        height: 50%;
        width: 100%;
        opacity: 1;
    }

    75% {
        top: -300%;
        height: 600%;
        width: 600%;
    }

    90%{
        opacity: 1;
    }

    100% {
        top: -400%;
        left: -300%;
        height: 900%;
        width: 900%;
        opacity: 0;
    }
}

.fade_inicio {
    animation-duration: 2s;
    animation-name: ocultar_inicio_ani;
    animation-delay: 0s;
    animation-timing-function: linear;
}

@keyframes ocultar_inicio_ani {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.ocultar_inicio {
    display: none;
}

.con_carta_ {
    display: none;
}

.mostar_con_carta {
    display: block;
    animation-duration: 2s;
    animation-name: mostrar_carta_ani;
    animation-delay: 0s;
    animation-timing-function: linear;
}

@keyframes mostrar_carta_ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.carta_ img {
    height: 95%;
    width: 90%;
    left: 5%;
    top: 3%;
    /*display: none;  */
}

@font-face {
    font-family: carta_font;
    src: url("WasteLowlife.ttf");
}

@font-face {
    font-family: carta_font2;
    src: url("Lonelyday.otf");
}

.text_carta{
    position: fixed;
    top:12%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    text-align: center;
    display: block;
    background-color: rgba(139, 134, 37, 0.607);
    justify-content: center;
    align-items: center;
}

.text_carta_1,
.text_carta_2,
.text_carta_3,
.text_carta_4,
.text_carta_5 {
    /*position: fixed;*/
    font-family: carta_font2;
    color: rgb(0, 0, 0);
    line-height: 0.85;
    margin: 10px 10px;
    padding: 10px 10px;
    text-align: center;
    /*font-size: 40px;*/
    font-size: 8vw;
    background-color: rgba(255, 158, 89, 0.524);
}

.text_carta_1 {
    height: 10%;
    margin: 10px 20%;
    font-size: 8vw;
    /*font-size: 50px;*/ 
}

.text_carta_2 {
    height:15px 15%; 
}

.text_carta_3 {
    height: 8%;  
    /*font-size: 105px;*/
    font-size: 15vw;
}

.text_carta_4 {
    height: 35%; 
}

.text_carta_5 {
    height: 5%;   
    /*font-size: 28px;*/
    font-size: 4vw;
}

.mostrar_mensaje {
    animation-duration: 10s;
    animation-name: mostrar_mensaje_ani;
    animation-delay: 0s;
    animation-timing-function: linear;
    display: block;
    opacity: 1;
}

@keyframes mostrar_carta_ani {
    0% {}

    100% {}
}